* {
    font-family: 'Brygada 1918', serif;
}

.navcolor {
    background: #925438;
    color: #F1F1F0;
    
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #F1F1F0;
}
main{
    flex-grow: 1;
}

/* Detalle productos */

.logo {
    height: 60px;
    object-fit: contain;
    margin-left: 20px;
}
h6,h5{
    color: #925438;
}

.mate1 {
    height: 520px;
    object-fit: cover;
}
.bombilla {
    height: 500px;
    object-fit: contain;
    color: aliceblue;
}

.agregarCarrito {
    background-color: #925438;
    color: #F1F1F0;
}

/* Carrito */
.logocarrito{
    margin-right: 50px;
    font-size: 20px;
    color: #F1F1F0;
}

.tituloCarrito {
    text-align: center;
    margin-top: 20px;
    color: #193350;
}
.carritoimg {
    height: auto;
    width: 100px;
    object-fit: contain;    
}
.carrito-productos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;    
}
.carrito-titulo-producto{
    max-width: 250px ;
}

.carrito-precio {
    color: #193350;    
}

.precioTotal{
    color: #925438;
}

.finalizarCompra{
    background-color: #925438;
    color: #F1F1F0; 
}

/* Comentarios de clientes */

.comentarios {
    margin: 30px 0;
}
.form-comentarios textarea{
    width: 100%;
    height: 150px;
    max-width: 100%;
    max-height: 300px;
    padding: 10px;  
    border: 1px solid #193350;    
    margin-bottom: 10px;
    resize: none;
}

.form-comentarios .btn{
    background: #925438;
    color: #F1F1F0;
    max-height: 40px; 
}
.img-usuario {
    max-width: 70px;
    max-height: 50px;
    object-fit: cover;
}
.avion{
    max-width: 600px;
    object-fit: cover;
}

